n8n-workflows/file-reception-workflow.json
{
  "name": "StudoBot - Приём файлов",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-document",
              "leftValue": "={{ $json.message.document }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-document",
      "name": "Is Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getFile",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.message.document.file_id }}"
            }
          ]
        }
      },
      "id": "get-file-path",
      "name": "Get File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-file",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "{{ $env.MINIO_BUCKET }}",
        "objectName": "={{ $json.message.from.id }}/{{ new Date().toISOString().split('T')[0] }}/{{ $json.message.document.file_name }}",
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "upload-to-minio",
      "name": "Upload to MinIO",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "s3": {
          "id": "minio-credentials",
          "name": "MinIO"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "files",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "submission_id": "={{ $json.submission_id }}",
            "stage": "={{ $json.stage || 'submit' }}",
            "storage_path": "={{ $json.objectName }}",
            "original_filename": "={{ $json.message.document.file_name }}",
            "mime_type": "={{ $json.message.document.mime_type }}",
            "file_size_bytes": "={{ $json.message.document.file_size }}",
            "checksum_sha256": "={{ $json.checksum }}",
            "uploaded_by_telegram_id": "={{ $json.message.from.id }}"
          }
        }
      },
      "id": "save-to-db",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "✅ Файл принят: {{ $json.message.document.file_name }}\n\nРазмер: {{ Math.round($json.message.document.file_size / 1024) }} KB\n\nДля завершения сдачи укажите тип работы и название.",
        "additionalFields": {}
      },
      "id": "send-confirmation",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Отправьте файл для сдачи работы.\n\nИспользуйте /help для списка команд.",
        "additionalFields": {}
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is Document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Document?": {
      "main": [
        [
          {
            "node": "Get File Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload to MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to MinIO": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
